<h1>Welcome, <%= @user.name %></h1>
<p>Email: <%= @user.email %></p>

<%= link_to "Delete Account", user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %><br>
<%= link_to "Sign Out", sign_out_path, method: :delete %>
